*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
}
.container-fluid{
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    width:100%;
    min-height:100vh;
    background:linear-gradient(160deg,#8EF9F3,#171738);
    padding: 10px;
}
.to-do-list{
    width:100%;
    max-width: 540px;
    background: white;
    margin:100px,auto,20px;
    padding: 40px,30px,70px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.to-do-list h2{
    color:#8EF9F3 ;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 30px;
    margin: 10px;
    background: #8EF9F3;
    padding-left: 20px;
    margin-bottom: 25px;
}
input{
    flex:1;
    border:none;
    outline: none;
    background: transparent;
    padding: 10px;
}
button{
    border: none;
    outline: none;
    padding: 10px,50px,10px;
    border-radius: 30px;
    
}
ul li {
    list-style: none;
    user-select:none;
    cursor: pointer;
}
