*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
}
.container-fluid{
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
    min-height:100vh;
    background:linear-gradient(160deg,#8EF9F3,#171738);
    padding: 10px;
}

.row-input{
    width:100%;
    max-width: 540px;
    background: white;
    margin:100px,auto,20px;
    padding: 40px,30px,70px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

input{
    flex:1;
    border:none;
    outline: none;
    background: transparent;
    padding: 10px;
}
.row{
    margin: 20px;
    border: none;
    outline: none;
    padding: 10px,50px,10px;
    border-radius: 30px; 
}

